<footer>
    <footer class="page__footer footer">
        <div class="container">
            <p class="footer__title">
                - get in touch with us -
            </p>
            <p class="footer__text">
                Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
            </p>
            <ul class="footer__socials socials">
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img src="./img/icons/wifi.png" alt="wifi" class="socials__img" width="34" height="34">
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img src="./img/icons/facebook.png" alt="facebook" class="socials__img" width="34" height="34">
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img src="./img/icons/twitter.png" alt="twitter" class="socials__img" width="34" height="34">
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img src="./img/icons/dribbble.png" alt="dribbble" class="socials__img" width="34" height="34">
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <img src="./img/icons/pinterest.png" alt="pinterest" class="socials__img" width="34" height="34">
                    </a>
                </li>
            </ul>
            <ul class="footer__address address">
                <li class="address__row">
                    Moonshine St. 14-05 Light City &nbsp;&nbsp;/
                </li>
                <li class="address__row">
                    T. +00 (123) 456 78 90 &nbsp;&nbsp;/
                </li>
                <li class="address__row">
                    first.last@email.com
                </li>
            </ul>
        </div>
    </footer>
</footer>