<header class="page__header header">
        <div class="container">
            <button class="header__menu-btn header__menu-btn--open" type="button">
                <span class="header__menu-btn-top"></span>
                <span class="header__menu-btn-middle"></span>
                <span class="header__menu-btn-bottom"></span>
                кнопка меню
            </button>
            <ul class="header__menu menu">
                <li class="menu__item"><a href="#" class="menu__link menu__link--curent">Home</a></li>
                <li class="menu__item"><a href="#" class="menu__link">about us</a></li>
                <li class="menu__item"><a href="#" class="menu__link">our journal</a></li>
                <li class="menu__item"><a href="#" class="menu__link">projects</a></li>
                <li class="menu__item"><a href="#" class="menu__link">news</a></li>
                <li class="menu__item"><a href="#" class="menu__link">features</a></li>
                <li class="menu__item"><a href="#" class="menu__link">contact </a></li>
            </ul>
            <picture class="header__img">
                <source media="(max-width: 767px)" srcset="./img/header-img-mobile.jpg">
                <source media="(min-width: 768px) and (max-width: 1199px)" srcset="./img/header-img-tablet.jpg">
                <source media="(min-width: 1200px)" srcset="./img/header-img-desc.jpg">
                <img src="./img/header-img-desc.jpg" alt="header image">
            </picture>
        </div>
    </header>
